<html>
<head>
  <title>Page Title</title>
  <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
  <h1>Page Title</h1>
  <div ng-app="thatone" ng-controller="inputCtrl" >

    <form name="inputForm" class="input">
      <label class="inputField">Starting Amount:
        <input type="number" name="starting" ng-model="inputs.starting"
        min="0" required>
      </label>
      <label class="inputField">Time Period:
        <input type="number" name="time-period" ng-model="inputs.timePeriod"
        min="0" required>
      </label>
      <label class="inputField">Growth Rate:
        <input type="number" name="rate" ng-model="inputs.rate"
        min="0" max="2000" required>
      </label>
      <br><br>
      <div> Starting {{ inputs.starting }}</div>  
      <div> Time Period {{ inputs.timePeriod }}</div>  
      <div> Rate {{ inputs.rate }}</div>  
      <div ng-model="ending" ng-change='change()' > Ending:  ${{ ending }}</div>  
      <!-- <div>endingAmounts {{ endingAmounts }} </div> -->
    </form>

    <exp-graph chart-data="endingAmounts"></exp-graph>


  </div>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="thatone.js"></script>  
</body>
</html>
