body {
  font-family: sans-serif;
  color: #4747FF;
  font-size: 1.4rem;
}

.graph{
  margin-left: 30px;
}
.input{
  margin: 40 10 10 10px;
}

.blowup {
  .font-size: 25px;
}

.inputField {
  margin: 20px;
}